<div class="card">
  <div class="card-body">
    <!-- <h5 class="card-title">Card title</h5> -->
    <select class="selectpicker" (change)="changeRole(($event))">
      <option>Select Role</option>
      <option *ngFor="let role of selectRole" [ngValue]="role">{{role}}</option>
    </select>
  </div>
</div>

<div class="col-12" *ngIf="getData">
  <div *ngFor="let item of panelIdArr; let i = index">
    <iframe [src]="('https://netvm2.grafana.yavar.in/d-solo/JuuWpXyMz/home?orgId=1&refresh=5s&panelId=' + item) | safe" width="500" height="300" frameborder="0"></iframe>
  </div>
</div>
